.Logo-img {
  width: 300px;
  height: auto;
  color: #b30ee5;
  display: flex;
  justify-content: end;
  align-items: end;
}

.container-bg {
  --bd-pink-rgb: 214, 51, 132;
  padding: 3rem 0;
  background-image: linear-gradient(
      180deg,
      rgba(var(--bs-body-bg-rgb), 0.01),
      rgba(var(--bs-body-bg-rgb), 1) 85%
    ),
    radial-gradient(
      ellipse at top left,
      rgba(var(--bs-primary-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(var(--bd-accent-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center right,
      rgba(var(--bd-violet-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center left,
      rgba(var(--bd-pink-rgb), 0.5),
      transparent 50%
    );
}
